<div class="container-fluid">
    <br>
    <div class="row">
        <br>
        <div class="col-lg-4">
            <p class="headings">Competancy Details </p>
        </div>
        <div class="col-lg-8"></div>
    </div>
    <div class="card">
        <form #kpiform="ngForm">
            <br>
            <div class="row ">
                <div class="col-lg-2">
                    <p class="columnname">Competancy<span style="color: red;">*</span> </p>
                </div>

                <div class="col-lg-4">
                    <p class="columnname">Description <span style="color: red;">*</span> </p>
                </div>
                <div class="col-lg-2">
                    <p class="columnname">Weightage<span style="color: red;">*</span> </p>
                </div>
            </div>
            <div class="row header">

                <div class="col-lg-2 columnname">
                    <input class="form-control" placeholder="Competancy" type="text" required [(ngModel)]="kpiName"
                        name="kpiName">
                </div>

                <div class="col-lg-4 column">
                    <textarea class="form-control" placeholder="Description" type="text" required
                        [(ngModel)]="description" name="description"></textarea>
                </div>
                <div class="col-lg-2 columnname">
                    <input class="form-control" placeholder="Weightage" type="number" required [(ngModel)]="kpiName"
                        name="kpiName">
                </div>
            </div> <br>

            <div class="row">
                <div class="col-lg-9"></div>
                <div class="col-lg-1">
                    <button class="form-control edit" *ngIf="id==undefined" [disabled]="kpiform.form.invalid"
                        (click)="save()">Save</button>
                    <button class="form-control edit" *ngIf="id!= undefined" (click)="Update()">Update</button>
                </div>
                <div class="col-lg-1">
                    <button class="form-control edit" (click)="cancel()">Cancel</button>
                </div>
            </div>
            <br>

        </form>
    </div>