.Dashboard{
    color:#3247D5;
    font-size: 19px;
  }
  .card{
  background: #FFFFFF;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  }
 /*  .filter{
    margin-left: 15px;
    font-size: 13px;
  } */
  .Add{
    background-color: #3247D5;
    color:white;
    border-radius: 5px;
    border:none;
    width:100%;
  }
  .Add1{
    background-color: #3247D5;
    color:white;
    border-radius: 5px;
    border:none;
    width:50%;
    margin-top:10px;
  }
  th{
    width: 20px;
  }
  
  .count{
    float:right;
  }
  
  .button1{
    letter-spacing: 0.5px;
    background-color: #3247d5;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 105px;
    float: left;
    font-size: 15px;
  }
  .edit-btn{
    width: 95px;
  }