<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-lg-4">
            <p class="headings">Appraisal Cycle Details </p>
        </div>
    </div>
    <div class="card">
        <!-- <form #appraisalform="ngForm"> -->
            <br>
            <div class="row column">
                <div class="col-lg-3">
                    <p>Appraisal Cycle Name <span style="color:red">*</span> </p>
                </div>
                <div class="col-lg-3">
                    <p>Frequency Type <span style="color:red">*</span></p>
                </div>
                <div class="col-lg-3">
                    <p>Cycle Start Date <span style="color:red">*</span></p>
                </div>
                <div class="col-lg-3">
                    <p>Cycle End date <span style="color:red">*</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <input class="form-control" placeholder="Appraisal Cycle Name" [(ngModel)]="appraisal"
                        name="appraisal" required>
                </div>

                <div class="col-lg-3">
                    <select class="form-control" id="frequencyid" (change)="getfrequency($event)"
                    name="frequencyid" required [(ngModel)]="frequencyid">
                    <option value="" disabled selected>Select Frequency Type </option>
                    <option *ngFor="let item of frequency" value="{{item.id}}">{{item.frequencyName}}
                      
                    </option>
                </select>
                </div>

                <div class="col-lg-3">
                    <input class="form-control" type="date" [(ngModel)]="startdate" name="startdate"  (change)="startingdatealert($event)"  >
                    <!-- min="{{todaydate}}" -->
                </div>
                <div class="col-lg-3">
                    <input class="form-control" type="date" [(ngModel)]="enddate" name="enddate" min="{{startdate}}"  (change)="endingdatealert($event)">
                </div>
            </div>
            <br>
            <div class="row column">
                <div class="col-lg-3">
                    <p>Goal Setting Last Date <span style="color:red">*</span> </p>
                </div>
                <div class="col-lg-3">
                    <p>Employee Submission Last Date <span style="color:red">*</span> </p>
                </div>
                <div class="col-lg-3">
                    <p>Manager Review Last Date <span style="color:red">*</span></p>
                </div>
                <div class="col-lg-3">
                    <p>SBU Review Last Date <span style="color:red">*</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <input class="form-control" type="Date" [(ngModel)]="goalDate" name="goalDate"  min="{{todaydate}}" (change)="goalsettinglastdatealert($event)">
                </div>

                <div class="col-lg-3">
                    <input class="form-control" type="Date" [(ngModel)]="empsubDate" name="empsubDate"  min="{{todaydate}}" (change)="employeereviewdatealert($event)">
                </div>

                <div class="col-lg-3">
                    <input class="form-control" type="Date" [(ngModel)]="managerReviewDate" name="managerReviewDate "(change)="managerreviewalert($event)"
                         min="{{todaydate}}">
                </div>
                <div class="col-lg-3">
                    <input class="form-control" type="Date" [(ngModel)]="sbuReviewDate" name="sbuReviewDate"  min="{{todaydate}}" (change)="sbudatealert($event)">
                </div>
            </div>
            <br>
            <div class="row column">
                <div class="col-lg-3">
                    <p>HR Review Last Date <span style="color:red">*</span></p>
                </div>
                <div class="col-lg-3">
                    <p>Appraisal Closing Last Date <span style="color:red">*</span> </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <input class="form-control" type="Date" [(ngModel)]="hrReviewDate" name="hrReviewDate"  min="{{todaydate}}" (change)="hrreviewdatealert($event)">
                </div>
                <div class="col-lg-3">
                    <input class="form-control" type="Date"  [(ngModel)]="appraisalClosingLastDate"
                        name="appraisalClosingLastDate" min="{{todaydate}}" (change)="closingdatealert($event)">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-lg-2">
                    <button class="edit" (click)="Cancel()">Cancel</button>
                  
                </div>
                <div class="col-lg-2">
                    <button class="save" *ngIf="id==undefined" 
                    (click)="Save()">Save</button>
                    <!-- [disabled]="appraisalform.form.invalid" -->
                <button class="save" *ngIf="id!= undefined" (click)="Update()">Update</button>
                </div>
            </div>
        <!-- </form> -->
    </div>
</div>
