/* .bg {
    background-image: url("assets/bg_login_blue.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
} */
.loginbtn {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #6ca3d8;
  color: white;
  border-radius: 5px;
}

.starspan {
  color: red;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/* .bg {
      background-image: url("assets/bg_login_blue.jpg");
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
  } */
.loginbtn {
  height: 50px;
  width: 240px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background: #3247D5;
  color: #FFFFFF;
  border: none;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: grid;
  right: 0;
  background-color: #95A0E2;
  align-content: stretch;
  align-items: stretch;
  justify-items: stretch;
}

.field-icon {
  position: relative;
  bottom: 7%;
  /* text-align: revert; */
  left: 35%;
}

.inndercard {
  position: absolute;
  /* width: 520px;
    height: 599px; */

  width: 520px;
  height: 599px;
  background: #FFFFFF;
  border-top-left-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 15px;
}

.inputclass {
  height: 46px;
  width: 410px;
  left: 290px;
  top: 316px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 2px solid #C7C7C7;
  outline: none;
  font-family: 'Poppins';
}

.inputclass1 {
  color: #3247D5;
  font-family: 'Poppins';
}

.btnalign {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  margin-left: 45px;
  width: 81%;
  align-items: center;
}

.imgdiv {
  height: 599px;
  width: 390px;
  margin-left: 41%;
  position: absolute;
  left: 520px;
}

.maindiv {
  display: flex;
  align-content: center;
  align-items: stretch;
  margin-top: 6%;
  margin-left: 12%;
  position: fixed;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.toggle-password {
  margin: 0px;
}

.companycode {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  color: #3247D5;
}

input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}


.defalutplace {
  position: relative;
  top: 5px;
}

input:focus~.defalutplace {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  top: 0px;
  line-height: 15px;
  color: #3247D5;
}

.enter-your-name {

  /* margin: 10px 0px 0px 0px; */

  padding: 20px 10px 10px 25px;

  border-radius: 50px;

  border: solid 1px #dae7ec;

  background-color: #ffffff;

  outline: none;

  width: 100%;

  font-size: 14px;

  /* height: 75px; */

  height: 50px;

}

.input-group {

  position: relative;

  margin-left: 143px;

}



.input-group input:focus {

  font-size: 14px;

  outline: #999;

  padding: 20px 10px 10px 25px;

  box-shadow: 0 0 16px 0 #d4dbdd;

}



.input-group input:valid {

  font-size: 14px;

  outline: #999;

  padding: 20px 10px 10px 25px;

}



.input-group input:focus~label {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */


  color: #3247D5;
  top: 5px;

}

.input-group label {

  color: #000000;

  font-size: 14px;
  font-family: 'Poppins';

  font-weight: normal;

  position: absolute;

  pointer-events: none;

  left: 20px;

  top: 5px;

  transition: 0.2s ease all;

  -moz-transition: 0.2s ease all;

}

.image {
  width: 40%;
  margin-bottom: 5%;
}

.password {
  color: #3247D5;
  margin-left: -224px;
  margin-top: 18px;
}

.forgotpassword {
  color: #3247D5;
}

.secure {
  position: absolute;
  width: 290px;
  height: 40px;
  left: 68px;
  top: 81px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #fafafa;
}

.easy {
  position: absolute;
  width: 290px;
  height: 40px;
  left: 69px;
  top: 127px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #fafafa;
}

.smart {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 69px;
  top: 181px;
  font-family: 'Poppins';
  letter-spacing: 0.5px;
  color: hwb(0 98% 2%);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
}

.copy-right {
  position: absolute;
  width: 317px;
  height: 16px;
  left: 115px;
  top: 562px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #0C275A;
}

.butn-sadow {
  left: 280px;
}

.forg-ps {
  color: #3247D5 !important;
  margin-left: 11px;
  font-weight: 600;
}

.digi-logo {
  width: 50%;
  margin-bottom: 4%;
}

.imgview {
  margin-left: -35px;
  margin-top: -15px;
  pointer-events: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.paswordview {
  margin-left: -35px;
  margin-top: -15px;
}

.Save {
  height: 40px;
  width: 200px;
}