    
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <br>
            <p class="headings">Appraisal Cycle </p>
        </div>
        <div class="col-lg-1">
            <br>
            <p class="count">Count:{{count}}</p>
        </div>
    </div>
    <br>
   <div class="card">
      
    <div class="row FilterClass ">
        <div class="col-lg-1">
            <p class="filter">Filter By</p>
        </div>
        <div class="col-lg-5">
                <input type="search" class="form-control search" [(ngModel)]="search"  placeholder="Search for Name..">
        </div>
        <div class="col-lg-1"></div>
    </div>
</div> <br>
    <div class="row">
        <div class="col-lg-11"></div>
        <div class="col-lg-1">
            <button class="form-control Add" routerLink="/hr/ApprasialCycleForm">Add</button>
        </div>
    </div> <br>
  <div>
        <div class="row">
            <div class="col-lg-12">
                    <table class="table">
                    <thead>
                        <tr style="text-align: center;">
                            <th></th>
                            <th></th>
                            <th colspan="2">Planning Phase</th>
                            <th colspan="4">Evaluation Phase</th>
                            <th colspan="3">Final Phase</th>
                        </tr>
                        <tr style="text-align: center;">
                            <th></th>
                            <th></th>
                            <th colspan="2"></th>
                            <th >Employee</th>
                            <th >Manager</th>
                            <th >SBU</th>
                            <th >HR</th>
                            <th colspan="3"></th>
                        </tr>

                        <tr  *ngIf="(appraisallist | filter: search).length > 0; else noResults" style="text-align: center;">
                            
                            <th>Appraisal Cycle Name</th>
                            <th>Frequency Type</th>
                            <th>Cycle Start Date</th>
                           
                            <th>Goal Setting Last Date</th>
                            <th>Employee Submission Last Date</th>
                            <th>Manager Review Last Date</th>
                            <th>SBU Review Last Date</th>
                            <th>HR Review Last Date</th>
                            <th>Appraisal Closing Last Date</th>
                            <th>Cycle End Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>    
                        <tr *ngFor="let details of appraisallist | filter:search">
                            <td>{{details.appraisalCycleName}}</td>
                            <td>{{details.frequencyName}}</td>
                            <td>{{details.cycleStartDate|date}}</td>
                            
                            <td>{{details.goalSettingDate|date}}</td>
                            <td>{{details.employeeSubmissionDate|date}}</td>
                            <td>{{details.managerReviewLastDate|date}}</td>
                            <td>{{details.sbuReviewLastDate|date}}</td>
                            <td>{{details.hrReviewLastDate|date}}</td>
                            <td>{{details.appraisalClosingLastDate|date}}</td>
                            <td>{{details.cycleEndDate|date}}</td>
                            <td>
                                <br>
                                <button class="form-control Add"  [routerLink]="['/hr/ApprasialCycleForm', details.id]">Edit</button><br>
                                <button class=" form-control  Add"  (click)="delete(details.id)" >Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span *ngIf="appraisallist.length==0">No data Found</span>
                <ng-template #noResults>
                    <div class="card">
                        <p class="NoResultShow"> No results found </p>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>







