<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <br>
            <p class="headings">Salary Increment Letter</p>
        </div>
        <div class="col-lg-1">
            <br>
            <p class="count">Count:{{stafflist1.length}}</p>
        </div>
    </div>
    <div class="card">
        <br>
        <div class="row FilterClass ">
            <div class="col-lg-1">
                <img src="assets/Images/filter.svg" class="filter-img">
                <p class="filter">Filter By:</p>
            </div>
            <div class="col-lg-6">
                <input type="search" class="form-control search" placeholder="Search for Name.." [(ngModel)]="search">
            </div>
            <div class="col-lg-3">
                <!-- <select class="form-control" id="Department" name="Department"
                    [(ngModel)]="Department" 
                    (change)="filterByDepartment()">
                    <option value="0">Select Department</option>
                    <option *ngFor="let item of Departmentlist" value="{{item.department}}">
                        {{item.appraisalCycleName}}
                    </option>
                </select> -->
            </div>

            <div class="col-lg-1"></div>
        </div><br>
    </div> <br>
    <div class="row">
        <div class="col-lg-11"></div>
        <div class="col-lg-1">
            <!-- <button class="form-control Add" routerLink="/EmployeeKraMapping">Add</button> -->
        </div>
    </div> <br>

    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr *ngIf="(stafflist1 | filter: search).length > 0; else noResults">
                        <th>Employee Name</th>
                        <th>Department</th>
                        <th>Manager</th>
                        <th>DOJ</th>
                        <th>Year in Company</th>
                        <th>Last Year Rating</th>
                        <th>Last Year Bonus Amount</th>
                        <th>Current year Rating</th>

                        <th *ngIf="roleid==3">Recommended Bonus Amount Percent</th>
                        <th *ngIf="roleid==3">Recommended Salary Increase/Percent</th>
                        <th *ngIf="roleid==3">Current Salary</th>
                        <th *ngIf="roleid==3">Current Level</th>
                        <th *ngIf="roleid==3">New Level</th>
                        <th *ngIf="roleid==3">New Position</th>



                        <th>Action </th>
                    </tr>
                </thead>
                <tbody>

                    <tr
                        *ngFor="let details of stafflist1 |paginate: { itemsPerPage: count1, currentPage: p}|filter:search">
                        <td>{{details.name}}</td>
                        <td>{{details.department_name}}</td>
                        <td>{{details.manager}}</td>
                        <td>{{details.joiningDate|date}}</td>
                        <td>{{details.yearsofexp}}</td>
                        <td>NA</td>
                        <td>NA</td>
                        <td>NA</td>

                        <td *ngIf="roleid==3">4</td>
                        <td *ngIf="roleid==3">5.5</td>
                        <td *ngIf="roleid==3">
                            <p *ngIf="details.baseSal==null">10000</p>
                            {{details.baseSal}}
                        </td>
                        <td *ngIf="roleid==3">{{details.level}}</td>
                        <td *ngIf="roleid==3">NA</td>
                        <td *ngIf="roleid==3">NA</td>


                        <td>

                            <button class="button btn-xs" (click)="sendmail()">Send Mail</button>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <span *ngIf="stafflist1.length==0">No data Found</span> -->
            <ng-template #noResults>
                <div class="card">
                    <p class="NoResultShow"> No results found </p>
                </div>
            </ng-template>
            <div class="text-right">
                <br>
                <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
            </div>
        </div>
    </div>


</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px">
            <div class="modal-header">
                <h5 class="modal-title Heading" id="exampleModalLabel">Review Rating</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">Recommended Bonus Amount Percent</div>
                            <div class="col-lg-6">
                                <input class="form-control" id="RecommendedBonusAmountOrPercent"
                                    name="RecommendedBonusAmountOrPercent"
                                    [(ngModel)]="RecommendedBonusAmountOrPercent">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-6">Recommended Salary Increase/Percent</div>
                            <div class="col-lg-6">
                                <input class="form-control" id="RecommendedSalaryIncreaseOrPercent"
                                    name="RecommendedSalaryIncreaseOrPercent"
                                    [(ngModel)]="RecommendedSalaryIncreaseOrPercent">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-6">Promotion</div>
                            <div class="col-lg-6">
                                <select class="form-control" id="Promotion" name="Promotion" [(ngModel)]="Promotion">
                                    <option value="0">Select One</option>
                                    <option value="Yes"> Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div><br>

                        <div id="myModal2" *ngIf="Promotion=='Yes'">
                            <div class="row">
                                <div class="col-lg-6">Current Salary</div>
                                <div class="col-lg-6">
                                    <p>35000</p>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-6">Current Level</div>
                                <div class="col-lg-6">
                                    <p>L4</p>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-6">New Level</div>
                                <div class="col-lg-6">
                                    <select class="form-control" id="level" name="level" [(ngModel)]="level">

                                        <option value="">Select Level</option>

                                        <option value="1"> Level 1 (CEO) </option>

                                        <option value="2"> Level 2 (Vice President) </option>

                                        <option value="3"> Level 3 (Senior President) </option>

                                        <option value="4"> Level 4 (Director) </option>

                                        <option value="5"> Level 5 (Senior Manager) </option>

                                        <option value="6"> Level 6 (Manager) </option>

                                        <option value="7"> Level 7 (Team Lead) </option>

                                        <option value="8"> Level 8 (Senior Developer) </option>

                                        <option value="9"> Level 9 (Developer) </option>



                                    </select>
                                </div>
                            </div><br>

                            <div class="row">
                                <div class="col-lg-6">New Position</div>
                                <div class="col-lg-6">
                                    <select class="form-control" id="role" name="role" [(ngModel)]="role">
                                        <option value="0">Select Position</option>
                                        <option *ngFor="let item of RoleTypeList" value="{{item.id}}">
                                            {{item.short}}
                                        </option>
                                    </select>
                                </div>
                            </div><br>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                            (click)="approve()">Approve</button>
                    </div>
                </div>
            </div>
        </div>









        <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Review Rating</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">Recommended Bonus Percent</div>
                                    <div class="col-lg-6">
                                        <input class="form-control" id="RecommendedBonusAmountOrPercent"
                                            name="RecommendedBonusAmountOrPercent"
                                            [(ngModel)]="RecommendedBonusAmountOrPercent">
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-6">Recommended Salary Increase/Percent</div>
                                    <div class="col-lg-6">
                                        <input class="form-control" id="RecommendedSalaryIncreaseOrPercent"
                                            name="RecommendedSalaryIncreaseOrPercent"
                                            [(ngModel)]="RecommendedSalaryIncreaseOrPercent">
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-6">Promotion</div>
                                    <div class="col-lg-6">
                                        <select class="form-control">
                                            <option>Yes</option>
                                            <option>No</option>
                                        </select>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-6">Current Salary</div>
                                    <div class="col-lg-6">
                                        <input class="form-control">
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-6">Current Level</div>
                                    <div class="col-lg-6">
                                        <input class="form-control">
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-6">New Level</div>
                                    <div class="col-lg-6">
                                        <input class="form-control" id="Level" name="Level" [(ngModel)]="Level">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-6">New Position</div>
                                    <div class="col-lg-6">
                                        <input class="form-control" id="role" name="role" [(ngModel)]="role">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>