<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <br>
            <p class="headings">My Team Appraisal </p>
        </div>
        <div class="col-lg-1">
            <br>
            <p class="count">Count:{{count}}</p>
        </div>
    </div>
    <div class="card">
        <br>
        <div class="row FilterClass ">
            <div class="col-lg-1">
                <p class="filter">Filter By</p>
            </div>
            <div class="col-lg-3">
                <input type="search" class="form-control search" placeholder="Search for Name.." [(ngModel)]="search">
            </div>
            <div class="col-lg-3">
                <select class="form-control" id="appraisalCycleName" name="appraisalCycleName"
                    [(ngModel)]="appraisalCycleName" (change)="GetApprisalcycle($event)"
                    (change)="GetFilteredAppraisalCycle()">
                    <option value="0">Select Appraisal Cycle</option>
                    <option *ngFor="let item of Apprisalcyclelist" value="{{item.appraisalCycleName}}">
                        {{item.appraisalCycleName}}
                    </option>
                </select>
            </div>
            
            <div class="col-lg-1"></div>
        </div><br>
    </div> <br>

    <div class="row">
        <br />
        <div class="col-lg-12 dashbutton bttn">
            <div class="tab-slider--nav">
                <ul class="tab-slider--tabs">
                    <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1"
                        (click)="viewMode ='tab1'">
                        Ongoing</li>
                    <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2"
                        (click)="viewMode ='tab2'">Completed</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-11"></div>
        <div class="col-lg-1">
            <!-- <button class="form-control Add" routerLink="/EmployeeKraMapping">Add</button> -->
        </div>
    </div> <br>

    <div class="row">
        <div class="tab-slider--container" [ngSwitch]="viewMode">
            <div *ngSwitchCase="'tab1'" id="tab1">
           
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <!-- <th>Department</th> -->
                                <th>Appraisal Cycle</th>
                                <th>Appraisal Start Date </th>
                                <th>Appraisal End Date </th>
                                <th>Last Submission Date </th>
                                <th>Employee Submitted Date</th>
                                <th>Manager Submitted Date </th>
                                <th>Status</th>
                                <th>Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let details of EmployeeKradash |paginate: { itemsPerPage: count1, currentPage: p}|filter:search">
                                <td>{{details.name}}</td>
                                <!-- <td>{{details.departmentName}}</td> -->
                                <td>{{details.appraisalCycleName}}</td>
                                <td>{{details.cycleStartDate|date}}</td>
                                <td>{{details.cycleEndDate|date}}</td>
                                <td>{{details.appraisalSubmitionDate|date}}</td>
                                <td>{{details.employeeSubmittedDate|date}}</td>
                                <td *ngIf="details.managerSubmittedDate!=null">{{details.managerSubmittedDate|date}}
                                </td>
                                <td *ngIf="details.managerSubmittedDate==null">
                                    <p>NA</p>
                                </td>
                                <td>
                                    <p *ngIf="details.employeeSubmittedDate==null && details.employeeacceptgoal!=1">Pending for Acceptance</p>
                                    <p *ngIf="details.employeeSubmittedDate==null && details.employeeacceptgoal==1">Goal Accepted</p>
                                    <p *ngIf="details.employeeSubmittedDate!=null">Appraisal Submitted By Employee</p>
                                    <p *ngIf="details.managerSubmittedDate!=null">Appraisal Submitted By Manager</p>
                                </td>
                                <td>
                                    <button [routerLink]="['/manager/ManagerAppraisal', details.id,details.appraiselID ]"
                                        class=" btn btn-primary editable-table-button btn-xs Add"
                                        *ngIf="details.managerSubmittedDate==null">Conduct Appraisal</button>
        
                                    <button [routerLink]="['/manager/ManagerAppraisal', details.id,details.appraiselID ]"
                                        class=" btn btn-primary editable-table-button btn-xs btncolor"
                                        *ngIf="details.managerSubmittedDate!=null">View Appraisal</button>
                                        
        
                                    <!-- <button *ngIf="details.groupHeadScores!=null"
                                            class=" btn btn-primary editable-table-button btn-xs btncolor">Completed</button> -->
                                    <!-- <button class="button btn-xs"
                                            routerLink]="['/SelfRatingPage', details.id,details.id ]">Self
                                            Apprisal</button>&nbsp; -->
                                    <!-- <button class="button btn-xs" data-toggle="modal" (click)="GetStaffKraDetails(details)"
                                            data-target="#myModal">View</button>&nbsp; -->
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
        
                    <div class="text-right">
                        <br>
                        <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'tab2'" id="tab2">
           
                  <div class="col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Department</th>
                        <th>Appraisal Cycle</th>
                        <th>Appraisal Start Date </th>
                        <th>Appraisal End Date </th>
                        <th>Last Submission Date </th>
                        <th>Employee Submitted Date</th>
                        <th>Manager Submitted Date </th>
                        <th>Status</th>
                        <th>Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let details of EmployeeKradash2 |paginate: { itemsPerPage: count1, currentPage: p}|filter:search">
                        <td>{{details.name}}</td>
                        <td>{{details.departmentName}}</td>
                        <td>{{details.appraisalCycleName}}</td>
                        <td>{{details.cycleStartDate|date}}</td>
                        <td>{{details.cycleEndDate|date}}</td>
                        <td>{{details.appraisalSubmitionDate|date}}</td>
                        <td>{{details.employeeSubmittedDate|date}}</td>
                        <td *ngIf="details.managerSubmittedDate!=null">{{details.managerSubmittedDate|date}}
                        </td>
                        <td *ngIf="details.managerSubmittedDate==null">
                            <p>NA</p>
                        </td>
                        <td>
                            <p *ngIf="details.employeeSubmittedDate==null && details.employeeacceptgoal!=1">Pending for Acceptance</p>
                            <p *ngIf="details.employeeSubmittedDate==null && details.employeeacceptgoal==1">Goal Accepted</p>
                            <p *ngIf="details.employeeSubmittedDate!=null && details.managerSubmittedDate==null">Appraisal Submitted By Employee</p>
                            <p *ngIf="details.managerSubmittedDate!=null">Appraisal Submitted By Manager</p>
                        </td>
                        <td>
                            <button [routerLink]="['/manager/ManagerAppraisal', details.id,details.appraiselID ]"
                                class=" btn btn-primary editable-table-button btn-xs Add"
                                *ngIf="details.managerSubmittedDate==null">Conduct Appraisal</button>

                            <button [routerLink]="['/manager/ManagerAppraisal', details.id,details.appraiselID ]"
                                class=" btn btn-primary editable-table-button btn-xs btncolor"
                                *ngIf="details.managerSubmittedDate!=null">View Appraisal</button>

                            <!-- <button *ngIf="details.groupHeadScores!=null"
                                    class=" btn btn-primary editable-table-button btn-xs btncolor">Completed</button> -->
                            <!-- <button class="button btn-xs"
                                    routerLink]="['/SelfRatingPage', details.id,details.id ]">Self
                                    Apprisal</button>&nbsp; -->
                            <!-- <button class="button btn-xs" data-toggle="modal" (click)="GetStaffKraDetails(details)"
                                    data-target="#myModal">View</button>&nbsp; -->
                        </td>
                      
                    </tr>
                </tbody>
            </table>

            <div class="text-right">
                <br>
                <pagination-controls (pageChange)="p = $event" class="poppinns"></pagination-controls>
            </div>
        </div>
            </div>
        </div>
    </div>


 


</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assigned Kra</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table>
                            <thead>
                                <tr>
                                    <th>Kra</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let details of Staffkra">
                                    <td>{{details.kraName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
