.Dashboard{
    color:#3247D5;
    font-size: 19px;
  }
  .card{
  background: #FFFFFF;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  }
  .filter{
    margin-left: 15px;
    font-size: 13px;
  }
  .Add{
    background-color: #3247D5;
    color:white;
    border-radius: 5px;
    border:none;
    width:50%;
  }
  .btncolor{
    background-color: green;
  }